body {
  font-family: "Geologica", sans-serif;
  color: #000000;
}

a {
  color: #ffe45d;
  text-decoration: none;
}

a:hover {
  color: #ffe45d;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Geologica", sans-serif;
}

#spinner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#spinner:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #000000;
  border-top-color: #ffffff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-spinner 1s linear infinite;
}

@keyframes animate-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#header {
  background: rgba(0, 0, 0, 0.75);
  transition: all 0.5s;
  z-index: 997;
  position: relative;
  height: 70px;
}

@media (max-width: 992px) {
  #header {
    height: 60px;
  }
}

#header.fixed-top{
  background: rgba(0, 0, 0, 0.75);
}

#header.fixed-top {
  position: fixed;
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

#header .logo a {
  color: #ffffff;
}

#header .logo img {
  max-height: 40px;
}

.scrolled-offset {
  margin-top: 70px;
}

@media (max-width: 991px) {
  .scrolled-offset {
    margin-top: 60px;
  }
}

.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar>ul>li {
  white-space: nowrap;
  padding: 10px 12px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  font-size: 15px;
  font-weight: 600;
  white-space: nowrap;
  transition: 0.3s;
  color: white;
  position: relative;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -7px;
  left: 0;
  background-color: #ffe45d;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #ffffff;
}

.mobile-nav-toggle {
  color: #ffffff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #000000;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #ffffff;
}

.navbar-mobile>ul>li {
  padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #ffe45d;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

#titulo {
  width: 100%;
  height: 100vh;
  background: url("./img/fachadas/e.jpg") center;
  background-size: cover;
  position: relative;
  margin-bottom: -70px;
}

@media (max-width: 992px) {
  #titulo {
    margin-bottom: -60px;
  }
}

#titulo:before {
  content: "";
  background: rgba(0, 0, 0, 0.5) repeat scroll 0% 0%;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#titulo .titulo-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#titulo h1 {
  margin: 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #ffffff;
}

#titulo h2 {
  color: #ffffff;
  margin: 15px 0 0 0;
  font-size: 24px;
}

#titulo .btn-get-started {
  font-family: "Geologica", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 40px;
  border-radius: 4px;
  transition: 0.5s;
  margin-top: 30px;
  border: 2px solid #ffffff;
  color: #ffffff;
}

#titulo .btn-get-started:hover {
  background: #ffe45d;
  border: 2px solid #ffe45d;
  color: #000000
}

@media (min-width: 1024px) {
  #titulo {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #titulo h1 {
    font-size: 30px;
    line-height: 36px;
  }

  #titulo h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #ffffff;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #ffe45d;
  bottom: 0;
  left: calc(50% - 25px);
}

.section-title p {
  margin-bottom: 0;
  color: #000000;
  font-size: 14px;
}

.catalogo .catalogo-item {
  margin-bottom: 30px;
}

.catalogo .catalogo-item .catalogo-img {
  overflow: hidden;
}

.catalogo .catalogo-item .catalogo-img img {
  transition: all 0.5s ease-in-out;
}

.catalogo .catalogo-item:hover .catalogo-img img {
  transform: scale(1.2);
}

.catalogo .catalogo-item:hover .catalogo-info {
  opacity: 1;
}

.catalogo-details {
  padding-top: 40px;
}

.catalogo-details .catalogo-details-slider img {
  width: 100%;
}

.catalogo-details .catalogo-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.catalogo-details .catalogo-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  opacity: 1;
  border: 1px solid #ffe45d;
}

.catalogo-details .catalogo-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffe45d;
}

.catalogo-details .catalogo-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(0, 0, 0, 0.08);
}

.catalogo-details .catalogo-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ffffff;
}

.catalogo-details .catalogo-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.catalogo-details .catalogo-info ul li+li {
  margin-top: 10px;
}

.catalogo-details .catalogo-description {
  padding-top: 30px;
}

.catalogo-details .catalogo-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.catalogo-details .catalogo-description p {
  padding: 0;
}

.contacto .info {
  width: 100%;
  background: #ffffff;
}

.contacto .info i {
  font-size: 20px;
  color: #ffe45d;
  float: left;
  width: 44px;
  height: 44px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contacto .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  color: #000000;
}

.contacto .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #000000;
}

.contacto .info .email,
.contacto .info .telefono {
  margin-top: 40px;
}

.contacto .info .email:hover i,
.contacto .info .direccion:hover i,
.contacto .info .telefono:hover i {
  background: #ffe45d;
  color: #000000;
}

.contacto .email-form {
  width: 100%;
  background: #ffffff;
}

.contacto .email-form .form-group {
  padding-bottom: 8px;
}

.contacto .email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contacto .email-form .error-message br+br {
  margin-top: 25px;
}

.contacto .email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contacto .email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contacto .email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contacto .email-form input,
.contacto .email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.contacto .email-form input:focus,
.contacto .email-form textarea:focus {
  border-color: #ffe45d;
}

.contacto .email-form input {
  height: 44px;
}

.contacto .email-form textarea {
  padding: 10px 12px;
}

.contacto .email-form button[type=submit] {
  background: #000000;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contacto .email-form button[type=submit]:hover {
  background: #ffe45d;
  color: #000000
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.breadcrumbs {
  padding: 15px 0;
  background: #ffffff;
  min-height: 40px;
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 500;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #000000;
  content: "/";
}

#footer {
  background: #000000;
  font-size: 14px;
  position: relative;
}

#footer::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000000
  z-index: 1;
}

#footer .footer-top {
  position: relative;
  z-index: 2;
  text-align: center;
  padding: 40px 0;
}

#footer .footer-top .redes {
  margin-top: 30px;
}

#footer .footer-top .redes a {
  font-size: 18px;
  display: inline-block;
  background: #000000;
  color: #ffffff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .redes a:hover {
  background: #ffe45d;
  color: #000000;
  text-decoration: none;
}
